   
   body{
       margin: 0px;
       padding: 0px;
   }
   
   .idpage { 
        background-color: rgb(51, 51, 51);
    }

    .menupage{
        background-color: rgb(51, 51, 51);
    }

    .payspage{
        background-color: rgb(51, 51, 51);
    }

    .bdpage{
        background-color: rgb(59, 59, 59);
    }

    nav{
        height: 65px;
        border: 2px red solid;
        line-height: normal;
        background-color: rgb(107, 156, 247);
        
    }

   .connect:hover {
     background-color: blue

    }
    .connect{
        border-radius: 5px;

    }

    #login:focus{
background-color: crimson;
    }
    
    #mdp:focus{
        background-color: crimson;
    }

    #messageId{
        position: absolute ;
        left: 80px; 
    }